h1{
    text-align: center;
}
img{
    text-align: center;
    display: block;
    margin: 0px auto;
}
.total{
    margin-top: 40px;
    text-align: center;
    width: 1200px; /* only 3 imgs*/
    margin-left: 17%;
}
#section{
    text-align: center;
}
.gallery{
    margin: 8px;
    margin: 10px;
    border: 1px solid black;
    width: 300px;
    float: left;
}
.gallery:hover{
    border: 1px solid black;
    /* transform: translate(50px, 100px); */
    transform: rotate(-10deg);
}
.gallery img{
    width: 100%;
}
.desc{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}