nav {
    text-align: center;
}
.total{
    width: 100px;
    height: 30px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgb(255, 214, 249);
    padding: 8px;
    font-size: 18px;
    text-align: center;
    margin: 30px;
    display: inline;
}
h1 {
    text-align: center;
}